<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.ArticleMapper">
    <insert id="insertOne" parameterType="article">
        insert into article(writerId, topic, title, content)
        values(#{writerId}, #{topic}, #{title}, #{content})
    </insert>
    <select id="selectAll" resultType="Article">
        select * from article order by wroteAt desc
    </select>
    <select id="countAll" resultType="int">
        select count(*) from article
    </select>
    <select id="countLikeKeyword" resultType="int">
        select count(*) from article
        where title like #{keyword} or content like #{keyword}
    </select>
    <select id="selectByOffset" resultType="Article" parameterType="int">
        select * from article order by wroteAt desc limit 10 offset #{offset}
    </select>
    <select id="selectLikeKeywordByOffset"
            resultType="article" parameterType="map">
        select * from article
            where title like #{keyword} or content like #{keyword}
        order by wroteAt desc limit 10 offset #{offset}
    </select>
    <select id="selectByTopic" resultType="Article" parameterType="string">
        select * from article where topic=#{topic}
    </select>
    <select id="selectByNo" resultType="Article" parameterType="int">
        select * from article where no=#{no}
    </select>
    <update id="updateViewCnt" parameterType="int">
        update article set viewCnt=viewCnt+ 1 where no=#{no}
    </update>
    <update id="increaseLikeCnt" parameterType="int">
        update article set likeCnt=likeCnt+ 1 where no=#{no}
    </update>
    <update id="decreaseLikeCnt" parameterType="int">
        update article set likeCnt=likeCnt- 1 where no=#{no}
    </update>
    <update id="updateOne" parameterType="article">
        update article
            set topic=#{topic}, title=#{title}, content=#{content}
        where no=#{no}
    </update>


    <delete id="deleteByNo" parameterType="int">
        delete from article where no=#{no}
    </delete>
</mapper>