<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.LoginHistoryMapper">
    <insert id="insertOne" parameterType="java.lang.String">
        insert into loginHistory(memberId) values(#{id})
    </insert>
    <select id="selectByMemberId" parameterType="string"
            resultType="LoginHistory">
        select * from loginHistory where memberId=#{id}
    </select>
</mapper>